/*
 * SMACSS SCSS
 * Inspired by SMACSS http://smacss.com
 * Author: 530MEDIALAB
 *
 * https://530medialab.com
 *
 */

/* Utilities */
@import "utilities/functions";

/* Base */
@import "base/grid-settings";
@import "base/base";
@import "base/mixins";

/* Layout */
@import "layout/grid";
@import "layout/header";
@import "layout/footer";
@import "layout/sidebar";

/* Modules */
@import "modules/animations";
@import "modules/btn";
@import "modules/helpers";
@import "modules/icons";
