@use "../variables/buttons"    as buttons;
@use "../variables/elements"   as elements;
@use "../variables/typography" as typography;
@use "../variables/color"      as color;

#{buttons.$list},
button {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  -webkit-font-smoothing: antialiased;
  background-color: color.$action;
  border-radius: elements.$border-radius;
  border: none;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: typography.$base-family;
  font-size: typography.$base-size;
  font-weight: 600;
  line-height: 1;
  padding: 0.75em 1em;
  text-decoration: none;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;

  &:hover,
  &:focus {
    background-color: darken(color.$action, 15%);
    color: #fff;
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }
}
