@use 'sass:math';
@use '../variables/color'      as color;
@use '../variables/typography' as typography;
@use '../variables/elements'   as elements;
@use '../variables/spacing'    as spacing;
@use '../variables/inputs'     as inputs;

fieldset {
  background-color: lighten(color.$action, 10%);
  border: elements.$border;
  margin: 0 0 spacing.$small;
  padding: spacing.$base;
}

input,
label,
select {
  display: block;
  font-family: typography.$base-family;
  font-size: typography.$base-size;
}

label {
  font-weight: 600;
  margin-bottom: math.div(spacing.$small, 2);

  &.required::after {
    content: "*";
  }

  abbr {
    display: none;
  }
}

#{inputs.$list},
select[multiple=multiple],
textarea {
  background-color: color.$background;
  border: elements.$border;
  border-radius: elements.$border-radius;
  box-shadow: color.$form-box-shadow;
  box-sizing: border-box;
  font-family: typography.$base-family;
  font-size: typography.$base-size;
  margin-bottom: math.div(spacing.$base, 2);
  padding: math.div(spacing.$base, 3);
  transition: border-color;
  width: 100%;

  &:hover {
    border-color: darken(color.$background, 10%);
  }

  &:focus {
    border-color: color.$action;
    box-shadow: color.$form-box-shadow;
    outline: none;
  }
}

textarea {
  resize: vertical;
}

input[type="search"] {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}

input[type="checkbox"],
input[type="radio"] {
  display: inline;
  margin-right: math.div(spacing.$small, 2);
}

input[type="file"] {
  padding-bottom: spacing.$small;
  width: 100%;
}

select {
  margin-bottom: spacing.$base;
  max-width: 100%;
  width: auto;
  appearance: none;
  
  &::-ms-expand {
    display: none;
  }
}
