// Breakpoints
$screen-xs: em(480); 
$screen-sm: em(770); 
$screen-md: em(992); 
$screen-lg: em(1200); 

$mobile-up: min-width $screen-xs;
$tablet-up: min-width $screen-sm;
$desktop-up: min-width $screen-md;
$lg-desktop-up: min-width $screen-lg;
