@use 'variables/spacing' as spacing;
@use 'variables/elements' as elements;

table {
  border-collapse: collapse;
  margin: spacing.$small 0;
  table-layout: fixed;
  width: 100%;
}

th {
  border-bottom: 1px solid darken($base-border-color, 15%);
  font-weight: 600;
  padding: spacing.$small 0;
  text-align: left;
}

td {
  border-bottom: elements.$border;
  padding: spacing.$small 0;
}

tr,
td,
th {
  vertical-align: middle;
}
