@use '../variables/typography' as typography;
@use '../variables/spacing'    as spacing;
@use '../variables/color'      as color;
@use '../variables/elements'   as elements;

* {
  box-sizing: border-box;
}

body {
  -webkit-font-smoothing: antialiased;
  color: $base-font-color;
  font-family: typography.$base-family;
  font-size: typography.$base-size;
  line-height: typography.$base-line-height;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: typography.$heading-family;
  line-height: typography.$heading-line-height;
  margin: 0 0 spacing.$small;
}
h1 {
  font-size: typography.$base-size + 1;
}
h2 {
  font-size: typography.$base-size + 0.5;
}
h3 {
  font-size: typography.$base-size + 0.17;
}
h4 {
  font-size: typography.$base-size;
}
h5 {
  font-size: typography.$base-size - 0.17;
}
h6 {
  font-size: typography.$base-size - 0.33;
}

p {
  margin: 0 0 spacing.$small;
}

a {
  color: color.$action;
  text-decoration: none;
  transition: color 0.1s linear;

  &:active,
  &:focus,
  &:hover {
    color: darken(color.$action, 15%);
  }

  &:active,
  &:focus {
    outline: none;
  }
}
:focus {
  outline: none;
}

hr {
  border-bottom: elements.$border;
  border-left: none;
  border-right: none;
  border-top: none;
  margin: spacing.$base 0;
}

img,
picture {
  margin: 0;
  max-width: 100%;
}
